
.s-1 {
	margin-bottom: 124px;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.s-2 {
	margin-bottom: 70px;
}

h2 {
	margin-bottom: 32px;
	font-family: 'roboto' sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.mycard1, .mycard2 {
	width: 570px;
	height: 225px;
	background-color: gray;
	display: inline-block;
	vertical-align: text-top;
	padding-top: 18px;
	padding-left: 20px;
}

.mycard1 {
	margin-right: 26px;
}

h3 {
	font-family: 'roboto' sans-serif;
	font-size: 22px;
	color: #3d58a6;
	margin-bottom: 18px;
}

img {
	display: inline-block;
	margin-right: 60px;
}

p {
	font-family: 'roboto' sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	display: inline-block;
	width: 350px;
	vertical-align: top;
	line-height: 22px;
}




